# ============================================
# Application
# ============================================
APP_DEBUG=true
DATA_DIR="AppData"

# ============================================
# Bot
# ============================================
BOT_TOKEN=""
BOT_MODE="update_direct" #update_direct , update_queue,webhook_direct,webhook_queue,cronjob_update,cronjob_queue
BOT_API_URL="https://api.telegram.org"
BOT_API_URL_FILE="https://api.telegram.org"
BOT_WEBHOOK_URL=""

ALLOWED_UPDATES="all"

POLLING_LIMIT=100
POLLING_TIMEOUT=30
POLLING_STATE_FILE="lastupdate.txt"

# ============================================
# CronJob
# ============================================
CRON_WORKER=10
CRON_MAX_TIME=50

# ============================================
# Plugins
# ============================================
PLUGINS_DIR="/Plugin/"
PLUGIN_CACHE_ENABLED=true
PLUGIN_CACHE_TTL=300
PLUGINS_RELOAD_INTERVAL=600

# ============================================
# Language
# ============================================
LANG_DRIVER="php"
DEFAULT_LANG="fa"
LANG_DIR="/Language"
LANG_CACHE_TTL=60

# ============================================
# Buttons
# ============================================
BUTTONS_DIR="/Button"
BUTTONS_FILE="btn.php"
BUTTONS_CACHE_TTL=60

# ============================================
# Queue
# ============================================
QUEUE_SAVE_TYPE="json" # json, redis,rabbitmq,memcached

QUEUE_REDIS_KEY="bot_updates"
QUEUE_MEMCACHED_KEY="bot_updates"
RABBITMQ_QUEUE="bot_updates"

# ============================================
# Cache
# ============================================
CACHE_DRIVER="array" #array ,apc,memcached,redis,file,database
CACHE_PREFIX="myapp_"

# ============================================
# File Cache Driver
# ============================================
CACHE_PATH="/path/to/storage/cache"
CACHE_LOCK_PATH="/path/to/storage/locks"

# ============================================
# Database Cache Driver
# ============================================
CACHE_TABLE="cache"
CACHE_DB_CONNECTION="mysql"

CACHE_LOCK_TABLE="cache_locks"
CACHE_LOCK_CONNECTION="mysql"

# ============================================
# APC Cache Driver
# ============================================
APC_TTL=3600
APC_NAMESPACE="myapp_"

# ============================================
# Database
# ============================================
DATABASE_ENABLE=true

DB_DRIVER="mysql"
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_FILE=""

# ============================================
# Redis
# ============================================
REDIS_CLIENT="predis"

REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD=""

REDIS_TIMEOUT=60
REDIS_READ_TIMEOUT=60
REDIS_RETRY_INTERVAL=100

# ============================================
# RabbitMQ
# ============================================
RABBITMQ_HOST="127.0.0.1"
RABBITMQ_PORT=5672
RABBITMQ_USER="admin"
RABBITMQ_PASSWORD=""
RABBITMQ_VHOST="/"

# ============================================
# Memcached
# ============================================
MEMCACHED_HOST="127.0.0.1"
MEMCACHED_PORT=11211

MEMCACHED_USERNAME=""
MEMCACHED_PASSWORD=""

# ============================================
# Logging
# ============================================
LOG_ENABLED=true
LOG_DIR="./logs"
LOG_FILE="log.txt"